body {
  background-color: black;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid rgb(222, 190, 29);
  border-radius: 6px;
  width: 400px;
  height: 540px;
}

.display {
  background-color: steelblue;
  width: 400px;
  height: 120px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
}

button {
  font-size: 30px;
  padding: 10px 12px;
  height: 105px;
  width: 100px;
}
